@charset "UTF-8";
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #b9eaf7;
}

h1 {

    font-size:60px;
    color:#0a91ff;
    text-shadow: 10px 10px 20px #0af3c1;
    margin: 20px;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    }
table td, table th {
  border: 1px solid #4668d8;
  padding: 12px;  
}


table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}

.oikealle{
	text-align: right;	
	
}

#uusiAsiakas, #takaisin{
	color: white;	
	cursor: pointer;	
}

#loginDiv{
	position: absolute;
	border: 1px solid;
	padding: 20px;
	border-radius: 10px;
	left: 35%;
	top: 10%;
	background-color: white;
}
label {
	display: block;
	width: 5em;
	float: left;
}

